
RewriteEngine on
RewriteCond %{HTTP_HOST} ^falko\.pop\-grafika\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.falko\.pop\-grafika\.net$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/pop\-grafika\.net\/falko" [R=301,L]

