<style type="text/css">             

             <!--

.rz { font-family : Tahoma,Verdana; font-size: 9px; color : #ACACAC; font-weight : none; text-decoration : none; }

.rz1 { font-family : Tahoma,Verdana; font-size: 12px; color : white; font-weight : none; text-decoration : none; }

.rz2 { font-family : Tahoma,Verdana; font-size: 12px; color : red; font-weight : none; text-decoration : none; }
   -->

             </style>
